.text {
	padding: 3px;
}
div, textarea {
	width: 100%;
}
.edu, .gender, #gender, .pos, .state, .text, div, input, label, select {
	float: right;
}

input, select {
	border-radius: 3px;
}

#legal2, .legal3, .pos, input {
	width: 50%;
}
label {
	font-family: Georgia;
	font-size: 25px;
	padding: 2px;
	vertical-align: middle;
}
#check, label {
	margin: 2px;
}
.state, input, select {
	height: 30px;
}
.state {
	width: 50.3%;
}
.state, input {
	margin: 5px;
}
#check, #day {
	margin-left: 5px;
}
.birthday {
	font-size: 20px;
	margin-top: 3px;
	width: 25%;
}
.state {
	font-size: 20px;
}
#birth, #education {
	margin-left: 3px;
}
.question {
	height: 34px;
	margin-top: 5px;
	width: 530px;
}
.question, option {
	font-family: Arial;
	font-size: 15px;
}
.gender, .edu, #check{
	height: 20px;
	margin-top: 6px;
}
#legal input, .pos input, .gender, .edu, #check { 
	width: 30px;
}
legend {
	font-size: 40px;
}
.edu, .edu3, .edu2, .pos input, .pos label, #month, #day {
	float: left;
}
.edu3, #gender, .pos, #account {
	clear: right;
}
#explain {
	width: 95%;
}
#gender2, #birth, #education {
	width: 50.7%;
}
.gender3 {
	width: 33.33%;
}
.legal3 input {
	margin-right: 40%;
}
.headings, .question, #submitbutton, legend {
	font-weight: bold;

}
.headings, .hours {
	margin: auto;
}
.headings, .shortanswer {
	text-align: center;
}
.txtarea {
	padding-left: 25%;
	margin-left: 25%;
}
#submitbutton {
	margin-right: 25%;
	background-color: pink;
	box-shadow: 1px;
}
.headings {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}
